/* Color */
:root {
  --primary: #262626;
  --primary-hover: #303030;
  --secondary: #171717;
  --secondary-hover: #313131;
  --small-box: #3c3c3f;
  --white: #fafafa;
  --white-hover: #cdcdcd;
  --white-shadow: #fafafa3d;
  --grey: #afafb0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans";
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .btn-white {
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
  color: var(--secondary);
  padding: 0.5rem 1.25rem;
  font-size: 14px;
}
.container .btn-white:hover {
  transform: translateY(-5px);
  background-color: var(--white);
  color: var(--secondary);
  box-shadow: var(--white-shadow) 0px 8px 24px;
}
.container .btn-white i,
.container .btn-resume i {
  margin-right: 0.5rem;
}
.container .heading-section {
  background-color: var(--white);
  color: var(--secondary);
  padding: 0.5rem 0.75rem;
  font-size: 14px;
}
section {
  scroll-margin-top: 50px;
}

/* Navbar */
nav.navbar {
  position: fixed;
  width: 90%;
  background-color: #ffffff26;
  border: 1px solid var(--white);
  margin-top: 2rem;
  backdrop-filter: blur(15px) brightness(100%);
  -webkit-backdrop-filter: blur(15px) brightness(100%);
  transition: all 0.3s ease-in-out;
  top: 0%;
  left: 5%;
  z-index: 10;
  border-radius: 1.5rem;
  transform: translate(0%, -5%);
}
/* Scroll Navbar */
nav.sticky {
  margin: auto auto;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--white);
  border-radius: 0;
  top: 0%;
  left: 0%;
  z-index: 10;
  transform: translate(0%, 0%);
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
nav .container a {
  text-decoration: none;
  color: var(--white);
}
nav .container a h1 {
  font-family: "Jost";
  font-weight: bold;
  font-style: italic;
}
nav .container .navbar-collapse ul {
  gap: rem;
}
nav .container .navbar-collapse ul li a {
  color: var(--white);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Hero Section */
#hero {
  margin: 0 auto;
  background-color: var(--primary);
  width: 100%;
  padding: 10rem 0 4rem;
}
#hero .container .hero-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 4rem;
}
#hero .container .hero-profile .profile-img {
  width: 20%;
  border: 7px solid var(--white);
}
#hero .container .hero-profile .profile-text {
  background-color: var(--white);
  color: var(--secondary);
  position: absolute;
  right: 30%;
  top: 30%;
  rotate: -10deg;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#hero .container .hero-profile .profile-img:hover + .profile-text {
  rotate: 10deg;
}
#hero .container .hero-profile .profile-text p {
  font-size: 14px;
}
#hero .container .hero-text {
  width: 55%;
}
#hero .container .hero-text h1 {
  color: var(--white);
  font-size: 48px;
  margin-bottom: 4rem;
}
#hero .container .hero-text a {
  transition: all 0.3s ease-in-out;
  animation: pulse 3s linear infinite;
}
.container .btn-resume {
  background-color: var(--white);
  color: var(--secondary);
  padding: 0.5rem 1.25rem;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
.container .btn-resume:hover {
  background-color: var(--white);
  color: var(--secondary);
}

/* About Section */
#about {
  margin: 0 auto;
  background-color: var(--secondary);
  width: 100%;
  padding: 4rem 0;
}
#about .container .about-header {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
#about .container .about-header span {
  margin-left: 1rem;
  margin-right: 1rem;
  transform: rotate(-10deg);
  cursor: pointer;
}
#about .container .about-header .hr-custom {
  flex-grow: 1;
  border: none;
  height: 1.5px;
  background-color: var(--white);
  width: 0;
}
#about .container .about-header .hr-custom:first-child {
  margin-right: 10px;
}
#about .container .about-header .hr-custom:last-child {
  margin-left: 10px;
}
#about .container .about-desc {
  margin-bottom: 3rem;
}
#about .container .about-desc p {
  color: var(--white);
  font-size: 20px;
  text-align: justify;
}
#about .container .about-edu-work {
  margin-bottom: 4rem;
}
#about .container .about-edu-work .edu-work-heading {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 2rem;
}
#about .container .about-edu-work .edu-work-container .card {
  width: 49%;
  background-color: var(--primary);
  border-radius: 10px;
  border: 0.5px solid var(--white-shadow);
  color: var(--white);
  padding: 0.25rem;
  position: relative;
  cursor: default;
  height: 100%;
}
#about .container .about-edu-work .edu-work-container .card .card-heading {
  gap: 1rem;
}
#about .container .about-edu-work .edu-work-container .card .card-heading h5 {
  margin-top: 8px;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .card
  .card-heading
  .card-icon {
  width: 45px;
  height: 45px;
  background-color: var(--small-box);
}
#about .container .about-edu-work .edu-work-container .timeline {
  position: relative;
  list-style: none;
  width: 100%;
  margin-bottom: 0;
}
#about .container .about-edu-work .edu-work-container .timeline::before {
  content: "";
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 1px;
  height: 220px;
  background: var(--grey);
  left: 21.5px;
}
#about .container .about-edu-work .edu-work-container .timeline-work::before {
  content: "";
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 1px;
  height: 120px;
  background: var(--grey);
  left: 21.5px;
}
#about .container .about-edu-work .edu-work-container .timeline .timeline-item {
  position: relative;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 25px;
  height: 25px;
  background-color: var(--small-box);
  border-radius: 50%;
  left: -10px;
  transform: translateX(-50%);
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item::after {
  content: "";
  position: absolute;
  top: 42px;
  width: 10px;
  height: 10px;
  background-color: var(--grey);
  border-radius: 50%;
  left: -10px;
  transform: translateX(-50%);
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-heading,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-heading {
  gap: 0.6rem;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-logo {
  max-width: 55px;
  max-height: 55px;
  background-color: var(--white);
  overflow: hidden;
  padding: 0.5rem;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-logo {
  max-width: 55px;
  max-height: 55px;
  background-color: var(--white);
  overflow: hidden;
  padding: 0.5rem;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .smkn-gto
  img {
  width: 80%;
  object-fit: cover;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-text,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-text {
  width: auto;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .lain
  img {
  width: 100%;
  object-fit: cover;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .unm
  img {
  width: 120%;
  object-fit: cover;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-logo
  img {
  width: 150%;
  object-fit: cover;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-text
  h4,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-text
  h4 {
  font-size: 18px;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-text
  p,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-text
  p {
  font-size: 14px;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-time,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-time {
  background-image: linear-gradient(
    to right,
    var(--small-box),
    var(--primary-hover)
  );
  width: auto;
  height: auto;
  padding: 0.5rem 0.75rem;
}
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .edu-time
  p,
#about
  .container
  .about-edu-work
  .edu-work-container
  .timeline
  .timeline-item
  .work-time
  p {
  font-size: 12px;
}
#about .container .about-certif p {
  color: var(--white);
  font-size: 20px;
}
/* About Certificates Slider */
#about .container .about-certif .slider-container {
  overflow: hidden;
  position: relative;
  padding: 10px;
  width: 100%;
}
#about .container .about-certif .slider-container .slider {
  display: flex;
  gap: 15px;
  animation: slide-right 100s linear infinite;
  width: calc(40% * 10);
  animation-play-state: running;
}
#about .container .about-certif .slider-container:hover .slider {
  animation-play-state: paused;
}
#about .container .about-certif .card {
  width: 40%;
  height: 210px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 0.5px solid var(--white-shadow);
  color: var(--white);
  padding: 0.25rem;
  position: relative;
  overflow: hidden;
}
#about .container .about-certif .card .card-body {
  display: flex;
  flex-direction: column;
}
#about .container .about-certif .card .card-title {
  font-size: 16px;
  margin-bottom: 10px;
}
#about .container .about-certif .card .card-text {
  font-size: 14px;
  font-weight: 300;
}
#about .container .about-certif .card .badge-group {
  width: 50%;
  cursor: default;
}
#about .container .about-certif .card .badge-group .badge:hover {
  background-color: var(--white-shadow);
}
#about .container .about-certif .card .badge {
  background-color: var(--small-box);
  font-weight: normal;
  padding: 0.5rem;
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--white);
}
#about .container .about-certif .card .card-image {
  bottom: -30%;
  right: 5%;
  transition: all 0.3s ease-in-out;
  width: 45%;
  position: absolute;
}
#about .container .about-certif .card:hover .card-image {
  bottom: -5%;
}
#about .container .about-certif .card .card-image img {
  width: 100%;
}

/* Skills Section */
#skills {
  margin: 0 auto;
  background-color: var(--secondary);
  width: 100%;
  padding: 4rem 0;
}
#skills .container .skills-header {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
#skills .container .skills-header span {
  margin-left: 1rem;
  margin-right: 1rem;
  transform: rotate(-10deg);
  cursor: pointer;
}
#skills .container .skills-header .hr-custom {
  flex-grow: 1;
  border: none;
  height: 1.5px;
  background-color: var(--white);
  width: 0;
}
#skills .container .skills-header .hr-custom:first-child {
  margin-right: 10px;
}
#skills .container .skills-header .hr-custom:last-child {
  margin-left: 10px;
}
#skills .container .skills-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
#skills .container .skills-card .card {
  width: 95px;
  height: 95px;
  padding: 1.2rem;
  border: 0.5px solid var(--white);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#skills .container .skills-card .html:hover {
  filter: grayscale(0);
  background: rgb(250, 174, 93);
  background: linear-gradient(
    210deg,
    rgba(241, 101, 41, 0.8) 0%,
    rgba(228, 77, 38, 0.9) 50%,
    rgba(140, 50, 20, 0.7) 100%
  );
}
#skills .container .skills-card .css:hover {
  filter: grayscale(0);
  background: rgb(6, 48, 164);
  background: linear-gradient(
    240deg,
    rgba(6, 48, 164, 0.8) 0%,
    rgba(2, 31, 123, 0.8) 66%,
    rgba(4, 9, 73, 0.8) 100%
  );
}
#skills .container .skills-card .javascript:hover {
  filter: grayscale(0);
  background: rgb(146, 134, 10);
  background: radial-gradient(
    circle,
    rgba(146, 134, 10, 0.8) 12%,
    rgba(80, 69, 3, 0.8) 35%,
    rgba(41, 35, 6, 0.8) 100%
  );
}
#skills .container .skills-card .reactjs:hover {
  filter: grayscale(0);
  background: radial-gradient(
    circle,
    rgba(76, 182, 211, 0.9) 10%,
    rgba(48, 140, 180, 0.85) 45%,
    rgba(0, 57, 87, 0.8) 100%
  );
}
#skills .container .skills-card .php:hover {
  filter: grayscale(0);
  background: rgb(68, 9, 151);
  background: radial-gradient(
    circle,
    rgba(122, 126, 178, 0.4) 0%,
    rgba(82, 85, 131, 0.4) 45%,
    rgba(44, 46, 83, 0.4) 100%
  );
}
#skills .container .skills-card .tailwindcss:hover {
  filter: grayscale(0);
  background: rgb(146, 134, 10);
  background: radial-gradient(
    circle,
    rgb(35, 130, 148, 0.8) 2%,
    rgba(2, 80, 100, 0.8) 35%,
    rgba(8, 37, 55, 0.8) 100%
  );
}
#skills .container .skills-card .bootstrap:hover {
  filter: grayscale(0);
  background: rgb(146, 134, 10);
  background: linear-gradient(
    205deg,
    rgba(69, 8, 147, 0.8) 12%,
    rgba(42, 8, 94, 0.8) 75%,
    rgba(24, 2, 74, 0.8) 100%
  );
}
#skills .container .skills-card .adobe-illustrator:hover {
  filter: grayscale(0);
  background: rgb(146, 134, 10);
  background: radial-gradient(
    circle,
    rgba(172, 159, 9, 0.4) 12%,
    rgba(187, 115, 9, 0.4) 35%,
    rgba(112, 48, 8, 0.4) 100%
  );
}
#skills .container .skills-card .figma:hover {
  filter: grayscale(0);
  background: rgb(146, 134, 10);
  background: radial-gradient(
    circle,
    rgba(69, 8, 147, 0.8) 0%,
    rgba(20, 20, 40, 0.8) 85%,
    rgba(55, 55, 125, 0.8) 100%
  );
}

/* Projects Section */
#projects {
  margin: 0 auto;
  background-color: var(--secondary);
  width: 100%;
  padding: 4rem 0;
}
#projects .container .projects-header {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
#projects .container .projects-header span {
  margin-left: 1rem;
  margin-right: 1rem;
  transform: rotate(-10deg);
  cursor: pointer;
}
#projects .container .projects-header .hr-custom {
  flex-grow: 1;
  border: none;
  height: 1.5px;
  background-color: var(--white);
  width: 0;
}
#projects .container .projects-header .hr-custom:first-child {
  margin-right: 10px;
}
#projects .container .projects-header .hr-custom:last-child {
  margin-left: 10px;
}
#projects .container .projects-certif {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}
#projects .container .projects-certif .card {
  width: 100%;
  height: 360px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 0.5px solid var(--white-shadow);
  color: var(--white);
  padding: 0.25rem;
  overflow: hidden;
}
#projects .container .projects-certif .card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#projects .container .projects-certif .card .card-content {
  width: 50%;
}
#projects .container .projects-certif .card .card-title {
  font-size: 32px;
  margin-bottom: 10px;
}
#projects .container .projects-certif .card .card-text {
  font-size: 14px;
  font-weight: 300;
}
#projects .container .projects-certif .card .badge-group {
  width: 50%;
  cursor: default;
}
#projects .container .projects-certif .card .badge-group .badge:hover {
  background-color: var(--white-shadow);
}
#projects .container .projects-certif .card .badge {
  background-color: var(--small-box);
  font-weight: normal;
  padding: 0.5rem;
  margin-bottom: 15px;
  font-size: 12px;
  color: var(--white);
}
#projects .container .projects-certif .card .card-image {
  position: absolute;
  top: 20%;
  right: 5%;
  transition: all 0.3s ease-in-out;
  width: 35%;
}
#projects .container .projects-certif .card .card-image img {
  width: 100%;
}
#projects .container .projects-certif .card .link-group a {
  background-color: var(--white);
  font-weight: normal;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
  color: var(--small-box);
  text-decoration: none;
}
#projects .container .projects-certif .card .link-group a:hover {
  background-color: var(--white-hover);
}
#projects .container .projects-certif .card .link-group a:first-child {
  font-size: 22px;
}
#projects .container .projects-certif .card .link-group a:last-child {
  font-size: 18px;
}
#projects .container .button-all {
  margin: 0 auto;
}

/* Contact Section */
#contact {
  margin: 0 auto;
  background-color: var(--primary);
  width: 100%;
  padding: 4rem 0;
}
#contact .container .contact-header {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
#contact .container .contact-header span {
  margin-left: 1rem;
  margin-right: 1rem;
  transform: rotate(-10deg);
  cursor: pointer;
}
#contact .container .contact-header .hr-custom {
  flex-grow: 1;
  border: none;
  height: 1.5px;
  background-color: var(--white);
  width: 0;
}
#contact .container .contact-header .hr-custom:first-child {
  margin-right: 10px;
}
#contact .container .contact-header .hr-custom:last-child {
  margin-left: 10px;
}
#contact .container .contact-content {
  flex-direction: row;
}
#contact .container .contact-content .heading-content {
  color: var(--white);
  font-size: 20px;
  width: 45%;
}
#contact .container .contact-content .heading-content .desc {
  font-size: 20px;
}
#contact .container .contact-content .heading-content .info-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact
  .container
  .contact-content
  .heading-content
  .info-group
  .info-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#contact .container .contact-content .heading-content .info-group i {
  background-color: var(--white);
  width: 35px;
  height: 35px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
  color: var(--small-box);
  text-decoration: none;
}
#contact .container .contact-content .heading-content .info-group p {
  font-size: 16px;
  margin-top: 5px;
}
#contact .container .contact-content .form-content {
  width: 50%;
}
#contact .container .contact-content .form-content .label-input {
  color: var(--white);
}
#contact .container .contact-content .form-content .label-input span {
  color: #ff6060;
}
#contact .container .contact-content .form-content .form-control {
  background-color: var(--small-box);
  color: #fff;
  border: 0;
}
#contact .container .contact-content .form-content .form-control::placeholder {
  color: var(--white-shadow);
}
#contact .container .contact-content .form-content textarea {
  resize: none;
}
#contact .container .contact-content .form-content .btn-send {
  background-color: var(--secondary);
  color: #fff;
  padding: 0.5rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
#contact .container .contact-content .form-content .btn-send i {
  font-size: 16px;
}
#contact .container .contact-content .form-content .btn-send:hover {
  background-color: var(--secondary-hover);
}

/* Footer */
footer {
  margin: 0 auto;
  background-color: var(--primary);
  width: 100%;
  padding: 4rem 0;
}
footer .container .hr-custom {
  height: 1.5px;
  background-color: var(--white);
}
footer .container .footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
footer .container .footer-section .footer-start p {
  color: var(--white);
  font-size: 14px;
}
footer .container .footer-section .footer-end {
  flex-direction: row;
  gap: 1rem;
}
footer .container .footer-section .footer-end a {
  color: var(--white);
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .container .heading-section {
    font-size: 12px;
  }
  #hero .container .hero-profile .profile-text p {
    font-size: 10px;
  }
  #hero .container .hero-text {
    width: 100%;
  }
  #hero .container .hero-text h1 {
    font-size: 36px;
  }
  #about .container .about-desc p {
    font-size: 16px;
  }
  #about .container .about-edu-work .edu-work-container {
    gap: 1rem;
  }
  #about .container .about-edu-work .edu-work-container .timeline::before {
    height: 220px;
  }
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 120px;
  }
  #about .container .about-edu-work .edu-work-container .card-heading h5 {
    font-size: 16px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item {
    position: relative;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item::before {
    top: 30px;
    width: 25px;
    height: 25px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item::after {
    top: 37px;
    width: 10px;
    height: 10px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-logo {
    max-width: 45px;
    max-height: 45px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-logo {
    max-width: 45px;
    max-height: 45px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    h4,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    h4 {
    font-size: 16px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    p {
    font-size: 12px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-time
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-time
    p {
    font-size: 10px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .unm
    img {
    width: 140%;
    object-fit: cover;
  }
  #about .container .about-edu-work .edu-work-container .card {
    width: 100%;
  }
  #about .container .about-certif .slider-container .slider {
    width: calc(60% * 10);
  }
  #about .container .about-certif .card {
    height: 300px;
    width: 60%;
  }
  #about .container .about-certif .card .card-title {
    font-size: 14px;
  }
  #about .container .about-certif .card .card-text {
    font-size: 12px;
  }
  #about .container .about-certif .card .badge-group {
    width: 100%;
  }
  #about .container .about-certif .card .badge {
    font-size: 10px;
  }
  #about .container .about-certif .card .card-image {
    bottom: -105px;
    right: 5%;
    transition: all 0.3s ease-in-out;
    width: 60%;
  }
  #projects .container .projects-certif .card {
    height: 460px;
  }
  #projects .container .projects-certif .card .card-body {
    display: flex;
    flex-direction: column;
  }
  #projects .container .projects-certif .card .card-content {
    width: 100%;
  }
  #projects .container .projects-certif .card .card-title {
    font-size: 24px;
  }
  #projects .container .projects-certif .card .card-text {
    font-size: 12px;
  }
  #projects .container .projects-certif .card .badge-group {
    width: 100%;
  }
  #projects .container .projects-certif .card .badge {
    font-size: 10px;
  }
  #projects .container .projects-certif .card .card-image {
    top: 40%;
    margin-left: auto;
  }
  #contact .container .contact-content .heading-content .desc p {
    font-size: 16px;
  }
  #contact
    .container
    .contact-content
    .heading-content
    .info-group
    .info-content {
    gap: 0.5rem;
  }
  #contact .container .contact-content .heading-content .info-group i {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
  #contact .container .contact-content .heading-content .info-group p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  #hero .container .hero-profile .profile-img {
    width: 35%;
  }
  #hero .container .hero-profile .profile-text {
    right: auto;
    top: 90%;
  }
  #hero .container .hero-profile .profile-text p span {
    display: inline-block;
    animation: wave 1s ease-in-out infinite;
  }
  #hero .container .hero-text h1 {
    font-size: 28px;
  }
  #hero .container .hero-text a {
    font-size: 12px;
  }
  #about .container {
    width: 100%;
  }
  #about .container .about-header span {
    font-size: 12px;
  }
  #about .container .about-desc p {
    font-size: 14px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .unm
    img {
    width: 110%;
    object-fit: cover;
  }
  #about .container .about-certif .certif-heading {
    font-size: 14px;
  }
  #about .container .about-certif .slider-container .slider {
    animation: slide-right 25s linear infinite;
  }
  #about .container .about-certif .card {
    height: auto;
    min-width: 350px;
  }
  #about .container .about-certif .card .card-image {
    display: none;
  }
  #about .container .about-certif .card .card-title {
    font-size: 12px;
  }
  #about .container .about-certif .card .card-text {
    font-size: 10px;
  }
  #about .container .about-certif .card .badge {
    font-size: 8px;
  }
  #about .container .about-edu-work .edu-work-container .card-heading h5 {
    font-size: 14px;
  }
  #about .container .about-edu-work .edu-work-container .timeline::before {
    height: 200px;
  }
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 100px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item::before {
    top: 35px;
    width: 15px;
    height: 15px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item::after {
    top: 40px;
    width: 6px;
    height: 6px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-logo {
    max-width: 45px;
    max-height: 45px;
    padding: 0.25rem;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-logo
    img {
    width: 120%;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-logo {
    max-width: 45px;
    max-height: 45px;
    padding: 0.25rem;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    h4,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    h4 {
    font-size: 14px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    p {
    font-size: 10px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-time
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-time
    p {
    font-size: 8px;
  }
  #skills .container .skills-card .card {
    width: 65px;
    height: 65px;
    padding: 0.75rem;
    filter: grayscale(0);
  }
  #skills .container .skills-card .html {
    background: rgb(250, 174, 93);
    background: linear-gradient(
      210deg,
      rgba(241, 101, 41, 0.8) 0%,
      rgba(228, 77, 38, 0.9) 50%,
      rgba(140, 50, 20, 0.7) 100%
    );
  }
  #skills .container .skills-card .css {
    background: rgb(6, 48, 164);
    background: linear-gradient(
      240deg,
      rgba(6, 48, 164, 0.8) 0%,
      rgba(2, 31, 123, 0.8) 66%,
      rgba(4, 9, 73, 0.8) 100%
    );
  }
  #skills .container .skills-card .javascript {
    background: rgb(146, 134, 10);
    background: radial-gradient(
      circle,
      rgba(146, 134, 10, 0.8) 12%,
      rgba(80, 69, 3, 0.8) 35%,
      rgba(41, 35, 6, 0.8) 100%
    );
  }
  #skills .container .skills-card .reactjs{
  background: radial-gradient(
    circle,
    rgba(76, 182, 211, 0.9) 10%,
    rgba(48, 140, 180, 0.85) 45%,
    rgba(0, 57, 87, 0.8) 100%
  );
}
  #skills .container .skills-card .php {
    background: rgb(68, 9, 151);
    background: radial-gradient(
      circle,
      rgba(122, 126, 178, 0.4) 0%,
      rgba(82, 85, 131, 0.4) 45%,
      rgba(44, 46, 83, 0.4) 100%
    );
  }
  #skills .container .skills-card .tailwindcss {
    background: rgb(146, 134, 10);
    background: radial-gradient(
      circle,
      rgb(35, 130, 148, 0.8) 2%,
      rgba(2, 80, 100, 0.8) 35%,
      rgba(8, 37, 55, 0.8) 100%
    );
  }
  #skills .container .skills-card .bootstrap {
    background: rgb(146, 134, 10);
    background: linear-gradient(
      205deg,
      rgba(69, 8, 147, 0.8) 12%,
      rgba(42, 8, 94, 0.8) 75%,
      rgba(24, 2, 74, 0.8) 100%
    );
  }
  #skills .container .skills-card .adobe-illustrator {
    background: rgb(146, 134, 10);
    background: radial-gradient(
      circle,
      rgba(172, 159, 9, 0.4) 12%,
      rgba(187, 115, 9, 0.4) 35%,
      rgba(112, 48, 8, 0.4) 100%
    );
  }
  #skills .container .skills-card .figma {
    background: rgb(146, 134, 10);
    background: radial-gradient(
      circle,
      rgba(69, 8, 147, 0.8) 0%,
      rgba(20, 20, 40, 0.8) 85%,
      rgba(55, 55, 125, 0.8) 100%
    );
  }
  #projects .container .projects-certif .card .card-image {
    top: 60%;
    width: 60%;
  }
  #contact .container .contact-content {
    flex-direction: column;
    gap: 2rem;
  }
  #contact .container .contact-content .heading-content .desc p {
    font-size: 14px;
  }
  #contact .container .contact-content .form-content,
  #contact .container .contact-content .heading-content {
    width: 100%;
  }
  #contact .container .contact-content .form-content .label-input label {
    font-size: 14px;
  }
  #contact
    .container
    .contact-content
    .form-content
    .form-control::placeholder {
    font-size: 12px;
  }
  #contact .container .contact-content .form-content .btn-send {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  #hero .container .hero-text {
    width: 85%;
  }
  #hero .container .hero-text h1 {
    font-size: 24px;
  }
  #about .container .about-edu-work .edu-work-container .timeline::before {
    height: 250px;
  }
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 125px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    h4,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    h4 {
    font-size: 12px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text {
    width: 100%;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-text
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-text
    p {
    font-size: 10px;
  }
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .edu-time
    p,
  #about
    .container
    .about-edu-work
    .edu-work-container
    .timeline
    .timeline-item
    .work-time
    p {
    font-size: 8px;
  }
  #skills .container .skills-card .card {
    width: 60px;
    height: 60px;
  }
  #projects .container .projects-certif .card .link-group a {
    width: 35px;
    height: 35px;
  }
  #projects .container .projects-certif .card .link-group a:first-child {
    font-size: 18px;
  }
  #projects .container .projects-certif .card .link-group a:last-child {
    font-size: 14px;
  }
  footer .container .footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .footer-section .footer-end a {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  #hero .container .hero-profile .profile-img {
    width: 45%;
  }
}

@media screen and (max-width: 513px) {
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 130px;
  }
}

@media screen and (max-width: 452px) {
  #skills .container .skills-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 390px) {
  #about .container .about-edu-work .edu-work-container .timeline::before {
    height: 250px;
  }

  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 130px;
  }
}
@media screen and (max-width: 377px) {
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 130px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #about .container .about-edu-work .edu-work-container .timeline-work::before {
    height: 150px;
  }
}

/* Animation */
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 var(--white-shadow);
  }
  50% {
    box-shadow: 0 0 20px var(--white-hover);
  }
  100% {
    box-shadow: 0 0 0 var(--white-shadow);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
